<nav class="navbar navbar-expand-lg navbar-dark donor-theme">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">DonateSite</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'donor_account' %}">Donations</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Review</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'report_problem' %}">Report</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'donor_account' %}">Account</a></li>
      </ul>

      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log out</a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Log in</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>